<style>
  .{{ section.id }} {
    background-color: {{ section.settings.section-bg }};
    padding: {{ section.settings.paddingY }}px 0;
  }
</style>

<section class="{{ section.id }}">
  <!-- Multi Column Custom Section Design in Shopify Liquid Part 01: https://www.youtube.com/watch?v=xkQxV-fgRhk&t=147s -->
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora minus ducimus deleniti ad debitis eos at amet nam distinctio. Aspernatur ea corrupti laudantium iure! Aperiam eius facilis repellat unde magnam.
</section>

{% schema %}
  {
    "name": "Multi-Column Section",
    "settings": [
        {
          "type": "color",
          "id": "section-bg",
          "label": "section background",
          "default": "#ECF0FC"
        },
        {
          "type": "range",
          "id": "paddingY",
          "label": "Padding Top Bottom",
          "min": 0,
          "max": 120,
          "step": 5,
          "default": 50,
          "unit": "px"
        }
      ],
      "presets": [
        {
          "name": "Multi-Column Section"
        }
      ]
  }
{% endschema %}