<section class="{{ section.id }}">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora minus ducimus deleniti ad debitis eos at amet nam distinctio. Aspernatur ea corrupti laudantium iure! Aperiam eius facilis repellat unde magnam.
</section>

{% schema %}
  {
    "name": "Multi-Column Section",
    "settings": [
      
      ],
      "presets": [
        {
          "name": "Multi-Column Section"
        }
      ]
  }
{% endschema %}